.devise-forms {
  width: 40%;
  margin: 6vh auto;

  .box {
    background-color: linen;
  }

  h2 {
    font-size: 3.4vh;
    text-align: center;
  }

  .center {
    display: block;
    margin: 0 auto;
  }

  .left {
    margin-top: 1vh;
  }
}