body {
  font-family: Raleway;
}

.home-page {
  h1 {
    font-size: 3em;
    text-align: left;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .label-row {
    margin-top: 0.5em;
  }

  .cart-label {
    font-weight: bold;
  }

  .total-price {
    text-align: right;
  }

  .product-label {
    font-size: 1em;
    font-weight: bold;
  }

  .input {
    width: 75%;
  }


  .quantity {
    display: block;
  }


  .trash {
    display: block;
    margin: 0 auto;
    height: 25px;
  }

  .add-remove {
    display: inline-block;
    margin: 0 0.25vw;
    width: 5vw;
  }

  .plus-button {
    height: 40px;
    width: 40px;
    img {
      display: inline-block;
      margin: 0 auto;
    }
    align-items: flex-end;
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  .checkout {
    display: block;
    margin-left: 84%;
    margin-top: 1em;
  }

}